@import url("https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&family=Orbitron:wght@400..900&display=swap");
.whole {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media only screen and (max-width: 1000px) {
  .whole {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* min-height: 100vh; */
  }
  .outputContainer {
    margin: 0px;
    top: -4%;
  }
  #tag {
    margin-bottom: -40%;
  }
}

#inpContainer {
  /* background-color: red; */
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

input {
  padding: 20px;
  width: 40vw;
  background-color: white;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
input::placeholder {
  color: black;
  font-weight: 400;

  /* padding: 1rem; */
  /* width: 1rem;
  height: 1rem; */
}
.outputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: self-start; */
  margin: 5%;
}

#lots {
  font-size: 5rem;
}
.output h1 {
  display: inline;
  font-family: "Orbitron", sans-serif !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spinner controls for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
}

#calculatebtn {
  padding: 10px;
  margin: 10px;
  border: 2px solid rgb(0, 0, 0);
  font-weight: 800;
  border-radius: 5%;
  /* position: fixed; */
  /* right: 4%;
  bottom: 5%; */
  background-color: white;
  color: black;
}

#calculatebtn:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
  cursor: pointer;
}
.Indexes {
  margin: 4%;
  padding: 4%;
}
.Indexes:active {
  background-color: green;
  color: white;
}
.IndexSelector {
  /* border: 2px solid black; */
  height: 20vh;
  width: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.IndexSelector .Indexes:hover {
  background-color: white;
  color: black;
}

.IndexSelector .Indexes.active {
  background-color: green;
  color: white;
  border: 2px double white;
}
